/* Reset default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
header {
    background: #2e7d32; /* soft green */
    color: white;
    font
    padding: 15px 0;
    font-size: large;
}
.logo{
    font-size: 30%;
    text-align: center;
}


header .logo {
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
}

nav {
    display: inline-block;
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-toggle {
    display: none;
}

/* Hero Section */
.hero {
    background: #a5d6a7; /* lighter green */
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.hero .btn {
    background: #2e7d32;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Section */
.section {
    padding: 60px 0;
}

.light-section {
    background: #f2f2f2;
}

/* Grid layout */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #2e7d32;
    font-weight: bold;
}

/* Footer */
footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* Responsive */
@media(max-width:768px){
    nav ul {
        display: none;
        flex-direction: column;
    }
    .menu-toggle {
        display: inline-block;
        background: none;
        border: none;
        color: white;
        font-size: 1.5em;
        cursor: pointer;
    }
}
